.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 0.625rem;
  justify-items: center;
}

.card {
  width: 100%;
  height: 100%;
  height: auto;
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.02);
}
@media (width >= 48rem) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  }
}
