.hero_swiper .swiper-slide img {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}

.hero_swiper .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  /* background-color: aqua; */
  /* width: 48px; */
  height: 48px;
  display: flex;
  align-items: center;
}

.hero_swiper .circle_wrapper svg {
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  stroke-width: 1px;
  fill: none;
}

.hero_swiper .anim_circle {
  --progress: 0;
  z-index: 10;
  stroke: var(--color-yellow-500);
  stroke-dashoffset: calc(50px * (1 - var(--progress)));
  stroke-dasharray: 50;
  transform: rotate(-90deg);
}
.hero_swiper .static_circle {
  stroke: var(--color-text-grey);
  z-index: 9;
}
.hero_swiper .swiper-pagination-bullet {
  background-color: var(--color-text-grey);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  transition: all 300ms linear;
}
.hero_swiper .swiper-pagination-bullet-active {
  background-color: var(--color-green);
  width: 28px;
}
