.hero_swiper .autoplay-progress {
  position: absolute;
  right: auto;
  left: 1rem;
  bottom: 16px;
  z-index: 10;

  height: 48px;
  display: flex;
  align-items: center;
}
@media (width >=80rem) {
  .hero_swiper .autoplay-progress {
    right: 1rem;
    left: auto;
  }
}
.hero_swiper .circle_wrapper svg {
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  stroke-width: 1px;
  fill: none;
}

.hero_swiper .anim_circle {
  --progress: 0;
  z-index: 10;
  stroke: var(--color-yellow-500);
  stroke-dashoffset: calc(50px * (1 - var(--progress)));
  stroke-dasharray: 50;
  transform: rotate(-90deg);
}
.hero_swiper .static_circle {
  stroke: var(--color-text-grey);
  z-index: 9;
}
.hero_swiper .swiper-pagination-bullet {
  background-color: var(--color-text-grey);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  transition: all 300ms linear;
}
.hero_swiper .swiper-pagination-bullet-active {
  background-color: var(--color-green);
  width: 28px;
}
.title_home_carousel {
  position: absolute;
  left: 0;
  z-index: 10;
  top: 5%;
  /* top: clamp(13.375rem, calc(23.75rem - (10.375rem * ((100vw - 375px) / 1065px))), 23.75rem); */
}
