@import "tailwindcss";
@import "./colors.css";
@import "./root.css";
@import "./typography.css";
@import "./toastify.css";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */
