@utility container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding-inline: clamp(1rem, calc(1rem + (1.5rem * ((100vw - 375px) / (1440px - 375px)))), 2.5rem);
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
    -webkit-text-fill-color: var(--white);
    caret-color: var(--white);
  }
  body {
    overflow-x: hidden;
    background: var(--black);
    color: var(--foreground);
  }
  button,
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  .one_line_ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    word-break: break-all;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .two_line_ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@theme {
  --breakpoint-xs: 30rem;
}
html {
  scrollbar-width: thin;
}
::backdrop {
  /* background-image: linear-gradient(45deg, magenta, rebeccapurple, dodgerblue, green); */
  background-color: var(--black);
  opacity: 0.75;
}
