:root {
  --padding-side-container: clamp(
    1rem,
    calc(1rem + (1.5rem * ((100vw - 375px) / (1440px - 375px)))),
    2.5rem
  );
}
@utility container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding-inline: var(--padding-side-container);
  /* overflow-x: hidden; */
}
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
    -webkit-text-fill-color: var(--white);
    caret-color: var(--white);
  }
  body {
    overflow-x: hidden;
    background: var(--black);
    color: var(--foreground);
  }
  button,
  a {
    transition: all 0.3s ease;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  .one_line_ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    word-break: break-all;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .two_line_ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button_yellow {
    border-radius: 4px;
    padding: 12px 16px;
    background-color: var(--yellow-500);
  }
  .card_gradient {
    background: linear-gradient(180deg, #4b4a4a 0%, #1f1f1f 100%);
  }
}
@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-mob: 23rem;
}
/* html {
  scrollbar-width: thin;
} */
::backdrop {
  background-color: var(--black);
  opacity: 0.75;
}
.swiper-pagination .swiper-pagination-bullet {
  size: 6px;
  border-radius: 6px;
  opacity: 1;
  background-color: var(--text-grey);
  transition: all 0.3s ease;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-green-600);
  width: 28px;
}
/* dialog {
  scrollbar-width: thin;
} */
:has(dialog[open]) {
  overflow: hidden;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--stroke-grey) var(--text-grey);
}
label {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
legend {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
