.form input,
.form textarea {
  border-bottom: solid 1px var(--color-stroke-grey);
  outline: none;
  margin-top: 0.25rem;
}
.form input {
  height: 2.75rem;
}
/* .rating :has(input:checked) .full {
  display: block;
}

.rating input:checked ~ label img.empty {
  display: none;
}
.full {
  display: none;
} */
