.top_products_list {
  display: flex;
  width: 100%;
  padding-left: clamp(1rem, calc(1rem + (1.5rem * ((100vw - 375px) / (1440px - 375px)))), 2.5rem);
}
.top_products_list .swiper-wrapper .swiper-slide {
  width: fit-content;
}
