.review_list {
  display: flex;
  width: 100%;
  padding-left: var(--padding-side-container);
}

.review_list .swiper-wrapper {
  padding-block: 1px;
  padding-bottom: 30px;
}
.review_list .swiper-wrapper .swiper-slide {
  width: fit-content;
}
.review_list .swiper-pagination {
  bottom: 0px;
}

@media (width >= 64rem) {
  .review_list .swiper-wrapper {
    padding-bottom: 0;
  }
  .review_list .swiper-pagination {
    display: none;
  }
}
